section#qualification {
  background-color: #fff;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      margin: 12px 0;
    }
  }

  div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      width: 100%;
      padding: 1rem 0;

      i.fa-solid {
        color: purple;
        display: block;
        width: 33%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 1rem;
        font-size: 30px;
        border-bottom: 2px solid purple;
      }

      @media (min-width: 768px) {
        width: 33%;
        padding: 3rem 0;

        i.fa-solid {
          font-size: 45px;
          border-bottom: 4px solid purple;
        }
      }
    }
  }
}
