link(href=require('./index.scss'), rel='stylesheet')

section#qualification
  h2 Qualifikationen
  div.container
    //- Coding
    div
      i.fa-solid.fa-file-code
      ul
        li C#, JavaScript, LUA
        li .net, NodeJS
    //- Frontend
    div
      i.fa-solid.fa-leaf
      ul
        li Webpack, Vite, CSS, SASS
        li WPF, Vue.js
    //- Backend
    div
      i.fa-solid.fa-database
      ul
        li Azure Service Bus, RabbitMQ
        li MS SQL Server, Azure CosmosDB, Mongo DB, Redis
        li REST, gRPC, WebSockets, GraphQL
    //- Cloud
    div
      i.fa-solid.fa-cubes
      ul
        li Azure Cloud, Web Frontend, Desktop Apps, Konsole
        li Docker, Kubernetes, Test Container
        li bicep, Terraform, Ansible
    //- DevOps
    div
      i.fa-solid.fa-code-compare
      ul
        li git, GitHub, Azure DevOps
        li Application Insights, Grafana, Prometheus
        li bash, zsh, tmux


