@import url('./timeline.scss');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #808080;
}

header.page {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202020;
  color: #f0f0f0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s linear;
}

header.page a {
  color: white;
  text-decoration: none;
  margin: 1rem 0 1rem 1.5rem;
  transition: margin 0.3s linear;
}

header.page.active {
  background-color: rgba(0, 0, 0, 0.3);
}

header.page.active a {
  margin: 0.25rem 0 0.25rem 1.5rem;
}

span.highlight {
  color: purple;
}

h1,
h2 {
  font-family: 'Lucida Console Regular';
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

h2 {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #dedede;
}

h2::after {
  content: '.';
  color: purple;
}

section {
  padding: 1rem;
}

section#start {
  position: relative;
  font-size: 2rem;
  color: #aaa;
  background-color: #dedede;
  padding: 7rem 2rem;
  height: 100vh;
  background-image: url('../images/start.jpg');
  background-size: cover;
  background-position: 60% 50%;
  z-index: -2;
  text-shadow: 0 0 10px #000;
}

section#start::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* https://www.shutterstock.com/de/image-photo/middle-aged-hispanic-business-manager-ceo-2305776359 */
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.6) 0 50%,
      rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

section#start h1 {
  z-index: 2;
  margin: 0;
}

section#start p {
  font-size: 1rem;
}

section#qualification {
  background-color: #fff;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      margin: 12px 0;
    }
  }

  div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      width: 100%;
      padding: 3rem 0;

      i.fas {
        color: purple;
        display: block;
        width: 33%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 1rem;
        font-size: 30px;
        border-bottom: 2px solid purple;
      }

      @media (min-width: 768px) {
        width: 33%;
      }
    }
  }
}

footer.page {
  color: #fff;
  background-color: #000;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;

  h2 {
    padding: 0;
  }
}

@media (min-width: 480px) {
  h2 {
    font-size: 1.25rem;
  }

  section#start {
    font-size: 3rem;
    padding: 7rem 2rem;
  }

  section#start h1 {
    font-size: 3rem;
  }

  section#start p {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  section#start {
    font-size: 4rem;
    padding: 7rem 2rem;
  }

  section#start h1 {
    font-size: 4rem;
  }

  section#start p {
    font-size: 2rem;
  }
}
