div.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

div.container {
  margin: 1rem 0;
  padding: 10px 50px;
  position: relative;
  width: 50%;

  span.time {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    right: -2rem;
    top: 1rem;
  }
}

div.container.left {
  padding-right: 2rem;
  left: 0;
}

div.container.right {
  left: 50%;
  padding-left: 2rem;

  span.time {
    left: -2rem;
  }
}

div.text-box {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  position: relative;
  border-radius: 0.5rem;
  background-color: #fff;

  h3 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}
