link(href=require('./index.scss'), rel='stylesheet')

section#start
  h1
    | Ich 
    span.highlight /
    | bin
    br
    | Jörg
    br
    | Wegener
    span.highlight .
  p
    | Software Entwickler
    br
    | aus Leidenschaft
