section#start {
  position: relative;
  font-size: 2rem;
  color: #aaa;
  background-color: #dedede;
  padding: 7rem 2rem;
  height: 100vh;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: 60% 50%;
  z-index: -2;
  text-shadow: 0 0 10px #000;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* https://www.shutterstock.com/de/image-photo/middle-aged-hispanic-business-manager-ceo-2305776359 */
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.6) 0 50%,
        rgba(0, 0, 0, 0) 100%);
    z-index: -1;
  }

  h1 {
    z-index: 2;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 480px) {
    &#start {
      font-size: 3rem;
      padding: 7rem 2rem;
    }

    &#start h1 {
      font-size: 3rem;
    }

    &#start p {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    &#start {
      font-size: 4rem;
      padding: 7rem 2rem;
    }

    &#start h1 {
      font-size: 4rem;
    }

    &#start p {
      font-size: 2rem;
    }
  }
}
