section#start {
  position: relative;
  font-size: 2rem;
  color: #aaa;
  background-color: #dedede;
  padding: 7rem 2rem;
  height: 100vh;
  z-index: -2;

  h1 {
    z-index: 2;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 480px) {
    &#start {
      font-size: 3rem;
      padding: 7rem 2rem;
    }

    &#start h1 {
      font-size: 3rem;
    }

    &#start p {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    &#start {
      font-size: 4rem;
      padding: 7rem 2rem;
    }

    &#start h1 {
      font-size: 4rem;
    }

    &#start p {
      font-size: 2rem;
    }
  }
}
