extends layouts/main.pug

block head
  title="Jörg Wegener"

block content
  header.page#header
    a(href="#qualification")  Qualifikationen
    a(href="#experience")  Erfahrung
    a(href="#portfolio")  Portfolio
    a(href="#contact")  Kontakt

  main
    section#start
      h1
        | Ich 
        span.highlight /
        | bin
        br
        | Jörg
        br
        | Wegener
        span.highlight .
      p
        | Software Entwickler
        br
        | aus Leidenschaft

    section#person
      h2 Person
      p
        | Mein Name ist Jörg Wegener und ich arbeite seit mehr als 25 Jahren 
        | in der IT. Ich bringe Erfahrung aus größeren und kleineren Projekten
        | mit.
      p
        | Aber viel wichtiger: Ich bringe Interesse an Neuem und Engagement mit.
      p Wohnort: Düsseldorf
      p Alter: 46 Jahre
      a(href="#contact") Mich kontaktieren

    section#qualification
      h2 Qualifikationen
      div.container
        //- Coding
        div
          i.fa-solid.fa-file-code
          ul
            li C#, JavaScript, LUA
            li .net, NodeJS
        //- Frontend
        div
          i.fa-solid.fa-leaf
          ul
            li Webpack, Vite, CSS, SASS
            li WPF, Vue.js
        //- Backend
        div
          i.fa-solid.fa-database
          ul
            li Azure Service Bus, RabbitMQ
            li MS SQL Server, Azure CosmosDB, Mongo DB, Redis
            li REST, gRPC, WebSockets, GraphQL
        //- Cloud
        div
          i.fa-solid.fa-cubes
          ul
            li Azure Cloud, Web Frontend, Desktop Apps, Konsole
            li Docker, Kubernetes, Test Container
        //- DevOps
        div
          i.fa-solid.fa-code-compare
          ul
            li git, GitHub, Azure DevOps
            li Application Insights, Grafana, Prometheus
            li bash, zsh, tmux

    section#experience
      h2 Erfahrungen
      div.timeline
        div.container.left
          div.text-box
            h3 Jetzt
            p Haben Sie die nächste, spannende Herausforderung für mich?
          span.time 2024
        div.container.left
          div.text-box
            h3 Buch
            p Windows Presentation Foundation beim Carl Hanser Verlag
          span.time 2008
        div.container.right
          div.text-box
            h3 Selbständigkeit
            p Neue spannenede Herausforderungen im Web, Desktop und Server-Umfeld
          span.time 2007
        div.container.left
          div.text-box
            h3 Studium
            p.
              Information Betriebswirt (VWA)<br>
              Bachelor of Business Administration
          span.time 2004
        div.container.right
          div.text-box
            h3 Angesteller
            p First Level Support und Aufbau des Firmen Intranets
          span.time 1998
        div.container.left
          div.text-box
            h3 Ausbildung
            p Grundstein für meine berufliche Karriere
          span.time 1996

    section#portfolio
      p
        | EnBW
        | Yello
        | ROWA
        | Jenoptik

    section#contact
      h2 Kontakt

    footer.page
      div
        h2 Impressum
        div
        | Jörg Wegener
        br
        | Röpkestr. 13
        br
        | 40235 Düsseldorf
      div
        | Impressum
        br
        | Datenschutz
        br
        | Kontakt
        br
        a(href="https://de.wix.com/website-template/view/html/1885?originUrl=https%3A%2F%2Fde.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fall%2F3&tpClick=view_button&esi=e33fe021-3899-41e2-86dc-3136bcb4d947") Referenz
