extends layouts/main.pug

block content
  header.page
    a(href="#qualification")  Qualifikationen
    | &nbsp;&#x7C;&nbsp;
    a(href="#experience")  Erfahrung
    | &nbsp;&#x7C;&nbsp;
    a(href="#portfolio")  Portfolio
    | &nbsp;&#x7C;&nbsp;
    a(href="#contact")  Kontakt

  main
    section(id="start")
      h1
        | Ich 
        span.highlight /
        | bin
        br
        | Jörg
        br
        | Wegener
        span.highlight .
      p
        | Software Entwickler
        br
        | aus Leidenschaft

    section(id="person")
      h2 Person
      p
        | Mein Name ist Jörg und ich arbeite seit 25 Jahren 
        | in der IT. Ich bringe Erfahrung aus größeren und kleineren 
        | Projekten mit.
      p Wohnort: Düsseldorf
      p Alter: 46 Jahre
      a(href="#contact") Kontaktiere mich

    section(id="qualification")
      div.breakout
        h2 Qualifikationen
        p C#, JavaScript, LUA
        p .net, NodeJS
        p Docker, Kubernetes, Test Container
        p Azure Cloud, Web Frontend, Desktop Apps, Konsole
        p REST, gRPC, WebSockets, GraphQL
        p MS SQL Server, Azure CosmosDB, Mongo DB, Redis
        p Azure Service Bus, RabbitMQ
        p WPF, Vue.js
        p bash, zsh, tmux
        p Webpack, Vite, CSS, SASS
        p git, GitHub, Azure DevOps
        p Application Insights, Grafana, Prometheus
        p <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>

    section(id="experience")
      h2 Erfahrungen
      p Zeitstrahl
      ul.timeline
        li
          span.time 2024
          span.label
            | jetzt<br>
            | Haben Sie die nächste, spannende Herausforderung für mich?
        li
          span.time 2015
          span.label
            | verheiratet<br>
            | Mit der besten Frau, die man sich wünschen kann
        li
          span.time 2008
          span.label
            | Buch<br>
            | Wer weiß, wer weiß
        li
          span.time 2007
          span.label
            | Selbstänidigkeit<br>
            | Neue spannenede Herausforderungen im Web, Desktop und Server-Umfeld
        li
          span.time 2004
          span.label
            | Studium<br>
            | Nebenberuflich und viel Engagement
        li
          span.time 1998
          span.label
            | Angesteller<br>
            | First Level Support und Aufbau des Firmen Intranets
        li
          span.time 1996
          span.label
            | Ausbildung<br>
            | Grundstein für meine berufliche Karriere

    section(id="portfolio")
      p
        | EnBW
        | Yello
        | ROWA
        | Jenoptik

    section(id="contact")
      h2 Kontakt

    section(id="imprint")
      h2 Impressum
      p
        | Jörg Wegener
        | Röpkestr. 13
        | 40235 Düsseldorf

