extends layouts/main.pug

block content
  header.page(id="header")
    a(href="#qualification")  Qualifikationen
    a(href="#experience")  Erfahrung
    a(href="#portfolio")  Portfolio
    a(href="#contact")  Kontakt

  main
    section(id="start")
      h1
        | Ich 
        span.highlight /
        | bin
        br
        | Jörg
        br
        | Wegener
        span.highlight .
      p
        | Software Entwickler
        br
        | aus Leidenschaft

    section(id="person")
      h2 Person
      p
        | Mein Name ist Jörg und ich arbeite seit 25 Jahren 
        | in der IT. Ich bringe Erfahrung aus größeren und kleineren 
        | Projekten mit.
      p Wohnort: Düsseldorf
      p Alter: 46 Jahre
      a(href="#contact") Kontaktiere mich

    section(id="qualification")
      div.breakout
        h2 Qualifikationen
        p C#, JavaScript, LUA
        p .net, NodeJS
        p Docker, Kubernetes, Test Container
        p Azure Cloud, Web Frontend, Desktop Apps, Konsole
        p REST, gRPC, WebSockets, GraphQL
        p MS SQL Server, Azure CosmosDB, Mongo DB, Redis
        p Azure Service Bus, RabbitMQ
        p WPF, Vue.js
        p bash, zsh, tmux
        p Webpack, Vite, CSS, SASS
        p git, GitHub, Azure DevOps
        p Application Insights, Grafana, Prometheus
        p <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>

    section(id="experience")
      h2 Erfahrungen
      div.timeline
        div.container.left
          div.text-box
            h3 Jetzt
            p Haben Sie die nächste, spannende Herausforderung für mich?
          span.time 2024
        div.container.right
          div.text-box
            h3 Heirat
            p Mit der besten Frau, die man sich wünschen kann
          span.time 2015
        div.container.left
          div.text-box
            h3 Buch
            p Windows Presentation Foundation beim Carl Hanser Verlag
          span.time 2008
        div.container.right
          div.text-box
            h3 Selbständigkeit
            p Neue spannenede Herausforderungen im Web, Desktop und Server-Umfeld
          span.time 2007
        div.container.left
          div.text-box
            h3 Studium
            p.
              Information Betriebswirt (VWA)<br>
              Bachelor of Business Administration
          span.time 2004
        div.container.right
          div.text-box
            h3 Angesteller
            p First Level Support und Aufbau des Firmen Intranets
          span.time 1998
        div.container.left
          div.text-box
            h3 Ausbildung
            p Grundstein für meine berufliche Karriere
          span.time 1996

    section(id="portfolio")
      p
        | EnBW
        | Yello
        | ROWA
        | Jenoptik

    section(id="contact")
      h2 Kontakt

    section(id="imprint")
      h2 Impressum
      p
        | Jörg Wegener
        | Röpkestr. 13
        | 40235 Düsseldorf

