extends layouts/main.pug

block content
  header.page
    a(href="#qualification")  Qualifikationen
    | &nbsp;&#x7C;&nbsp;
    a(href="#experience")  Erfahrung
    | &nbsp;&#x7C;&nbsp;
    a(href="#portfolio")  Portfolio
    | &nbsp;&#x7C;&nbsp;
    a(href="#contact")  Kontakt

  main
    section(id="start")
      h1
        | Ich 
        span.highlight /
        | bin
        br
        | Jörg
        br
        | Wegener
        span.highlight .
      p
        | Software Entwickler
        br
        | aus Leidenschaft

    section(id="qualification")
      div.breakout
        h2 Qualifikationen
        p C#, JavaScript, Rust, LUA, CUDA
        p .net, NodeJS
        p Docker, Kubernetes, Test Container
        p Azure Cloud, Web Frontend, Desktop Apps, Konsole
        p REST, gRPC, WebSockets, GraphQL
        p MS SQL Server, Azure CosmosDB, Mongo DB, Redis
        p Azure Service Bus, RabbitMQ
        p WPF, Vue.js
        p bash, zsh, tmux
        p Webpack, Vite, CSS, SASS
        p git, GitHub, Azure DevOps
        p Application Insight, Grafana, Prometheus
        p <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>

    section(id="experience")
      h2 Erfahrungen
      p Zeitstrahl
      p
        | Zertifikate?
        | 2024 jetzt
        | 2015 verheiratet
        | 2008 Buch
        | 2007 Selbstänidigkeit
        | 2004 Studium
      p <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>

    section(id="portfolio")
      p
        | EnBW
        | Yello
        | ROWA
        | Jenoptik

    section(id="contact")
      h2 Kontakt

    section(id="imprint")
      h2 Impressum
      p
        | Jörg Wegener
        | Röpkestr. 13
        | 40235 Düsseldorf

