link(href=require("./index.scss"), rel="stylesheet")

section#person
  h2 Person
  p
    | Seit über 25 Jahren lebe und liebe ich IT - mal als Tüftler, mal als 
    | Problemlöser, aber immer mit voller Beigeisterung. Was einst als 
    | Neugier begann, ist längst zu meiner Leidenschaft und meinem
    | Beruf geworden.
  p Mein Wohnort: Düsseldorf
  p Mein Alter: 46 Jahre
  p
    a(href="#contact") Mich kontaktieren

