link(href=require("./index.scss"), rel="stylesheet")

section#person
  h2 Person
  p
    | Mein Name ist Jörg Wegener und ich arbeite seit mehr als 25 Jahren 
    | in der IT. Ich bringe Erfahrung aus größeren und kleineren Projekten
    | mit.
  p
    | Aber viel wichtiger: Ich bringe Interesse an Neuem und Engagement mit.
  p Wohnort: Düsseldorf
  p Alter: 46 Jahre
  a(href="#contact") Mich kontaktieren

