div#cookie-consent
  | Einwilligung zu Cookies &amp; Datenverarbeitung
  | Ich verwende auf dieser Webseite Cookies. Diese verarbeiten auch personenbezogene Daten.
  | Zum Einsatz kommen:
  | - Technisch notwendige Cookies
  | - Statistik-Cookies
  | - Cookies von Drittanbietern
  | Indem Sie auf "Cookie-Einstellungen" klicken, erhalten Sie genauere Informationen zu unseren
  | Cookies und können diese nach Ihren eigenen Befürfnissen anpassen.
  | Durch einen Klick auf "Alle akzeptieren" stimmen Sie der Vereinbarung aller Cookies zu, die unter
  | "Cookie-Einstellungen" beschrieben werden.
  | Sie können Ihre Einwilligung zur Nutzung von Cookies zu jeder Zeit ändern oder widerrufen.
  button Cookie-Einstellungen
  button#acceptNecessaryCookies Nur notwendige Cookies
  button#acceptAllCookies Alle akzeptieren
