div#cookie-consent
  h1 Einwilligung zu Cookies &amp; Datenverarbeitung
  p
  | Ich verwende auf dieser Webseite Cookies. Diese verarbeiten auch personenbezogene Daten.
  | Zum Einsatz kommen:
  ul
    li Technisch notwendige Cookies
    li Statistik-Cookies
    li Cookies von Drittanbietern
  p
  | Indem Sie auf "Cookie-Einstellungen" klicken, erhalten Sie genauere Informationen zu unseren
  | Cookies und können diese nach Ihren eigenen Befürfnissen anpassen.
  | Durch einen Klick auf "Alle akzeptieren" stimmen Sie der Vereinbarung aller Cookies zu, die unter
  | "Cookie-Einstellungen" beschrieben werden.
  | Sie können Ihre Einwilligung zur Nutzung von Cookies zu jeder Zeit ändern oder widerrufen.
  p
    button#showCookieSettings Cookie-Einstellungen
    button#acceptNecessaryCookies Nur notwendige Cookies
    button#acceptAllCookies Alle akzeptieren
