doctype html
html(lang="de")
  head
    title Welcome
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href=require('../../public/styles/index.scss') rel='stylesheet')
  body
    script(src=require('../../public/scripts/index.js') defer='defer')
 
    block content

    footer.page Impressum | Datenschutz | Kontakt
    a(href="https://de.wix.com/website-template/view/html/1885?originUrl=https%3A%2F%2Fde.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fall%2F3&tpClick=view_button&esi=e33fe021-3899-41e2-86dc-3136bcb4d947") Referenz
